h5py==3.6.0
k3d==2.14.1
open3d==0.15.2
plyfile==0.7.4
torchsummary==1.5.1
tqdm==4.67.1
numpy==1.21.5
scikit-learn==1.0.1
torchmetrics==0.6.2
pytorch-lightning==1.5.8
tensorboard==2.10.1
tensorboard-data-server==0.6.1
torch-tb-profiler==0.3.1